//colors
$color-primary: #01a7fd;
$color-primary-focus: #01a7fd;
$color-primary-loader: #01a7fd;
$color-primary-disabled: #ceecfc;
$color-primary-hover: #0f79af;
$color-primary-active: #59c79f;

$color-primary-white: #ffffff;
$color-primary-whiteS: #e0f4ff;
$color-primary-whiteS-text: #01a7fd;
$color-primary-white-focus: #111111;

$color-flat-active: #e8e0fa;
$color-flat-hover: #f9f8fe;
$color-flat-focus: #111111;

$color-GrayK: #6b6b6b;
$color-GrayL: #f1f1f1;
$color-error: #f9e3e3;
$color-red: #db524e;
$color-success: #27ae60;

$font-size-html: 100%;
$font-size-h2: 1rem;
$line-height-h3: 1.5rem;

$animation-default: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
