@mixin buttonPrimaryWhite {
    color: $color-primary-whiteS-text;
    background: $color-primary-whiteS;
    border: 0px solid transparent;
    border-radius: 4px;
}

@mixin buttonDefault {
    color: $color-primary;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-radius: 100px;
}